extend layout

block content
  .inner
    h2= title
      .map
        .autocomplete
          input(type="text" placeholder="Enter here some place" name="geolocate")
        #map
          p Loading map...  